@import "scss/breakpoints";

.phoneInput {
  .inputContainer {
    display: flex;
    align-items: center;
    padding: .5rem;
    border: 1px solid var(--color-primary-lighter);
    border-radius: 4px;

    &.invalid {
      border-color: var(--color-danger);
      box-shadow: 0 0 2px var(--color-danger-lighter-2);
    }

    @include media-breakpoint-up(md) {
      padding: .75rem;
    }
  }

  .countryCode {
    max-width: 100px;
    font-size: var(--span);
    color: var(--color-primary-dark);
    cursor: pointer;
    background-color: var(--color-light);
    border: none;
    outline: none;
    transition: border-color .3s ease;

    &:focus {
      border: none;
      outline: none;
    }

    @include media-breakpoint-up(md) {
      font-size: var(--p);
    }
  }

  .input {
    flex: 1;
    padding-left: 10px;
    font-size: var(--span);
    border: none;
    outline: none;
    transition: border-color .3s ease;

    &:focus {
      border: none;
      outline: none;
    }

    @include media-breakpoint-up(md) {
      font-size: var(--p);
    }
  }

  .error {
    margin-top: .25rem;
    font-size: .8rem;
    color: var(--color-danger);
  }
}

.inputError {
  border-color: var(--color-danger) !important;
}
