/* reset styles */
@use "./typography" as *;

html,
body {
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-normal);
  color: var(--color-gray-darkest);
  scroll-behavior: smooth;
}

html,
body,
a,
address,
b,
canvas,
center,
code,
details,
div,
dl,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
i,
iframe,
img,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
s,
section,
small,
span,
strike,
strong,
summary,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
u,
ul,
video {
  padding: 0;
  margin: 0;
}

/* stylelint-disable-next-line selector-max-universal */
*,
::before,
::after {
  box-sizing: border-box;
  font-feature-settings: "kern" 1, auto;
  -webkit-font-feature-settings: 'kern' 1; /* stylelint-disable-line */
  font-kerning: auto;
  font-display: swap;
  -webkit-text-rendering: geometricPrecision;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: subpixel-antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  @include typography(heading1);
}

h2 {
  @include typography(heading2);
}

h3 {
  @include typography(heading3);
}

h4 {
  @include typography(heading4);
}

h5 {
  @include typography(heading5);
}

h6 {
  @include typography(heading6);
}

p {
  @include typography(regular);
}
