@import "scss/breakpoints";

.select {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: .4rem; /* Ensures spacing between label & input */
  width: 100%;
  font-family: var(--font-family-main);

  @include media-breakpoint-up(md) {
    gap: .5rem;
  }

  &Trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    cursor: pointer;
    background-color: var(--color-light);
    border: 1px solid var(--color-primary-lighter);
    border-radius: 4px;

    .placeholder {
      color: var(--color-gray);
    }

    &:hover {
      border-color: var(--color-primary);
    }
  }

  &__single {
    height: 48px;
  }

  &__multiple {
    min-height: 48px;
  }

  .multipleWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px 0;
  }

  &Tags {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
  }

  &Tag {
    display: flex;
    align-items: center;
    width: max-content;
    padding: 3px 8px;
    font-size: 14px;
    background-color: var(--color-primary-lightest);
    border-radius: 4px;
  }

  &TagRemove {
    margin-left: 4px;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      color: var(--color-primary-dark);
    }
  }

  &Dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    width: 100%;
    max-height: 200px;
    padding: 8px;
    margin-top: 10px;
    overflow-y: auto;
    background-color: var(--color-light);
    border: 1px solid var(--color-gray);
    border-radius: 4px;
  }

  &Option {
    padding: 8px 12px;
    margin-bottom: 4px;
    cursor: pointer;

    &:hover {
      background-color: var(--color-gray-light);
    }

    &Selected {
      background-color: var(--color-gray-light);
    }

    &Disabled {
      cursor: not-allowed;
      opacity: .6;
    }
  }

  &Open {
    .selectTrigger {
      border-color: var(--color-primary);
    }
  }

  .chevron {
    width: max-content;
    padding-left: 8px;
    margin-left: 8px;
    border-left: 2px solid var(--color-gray-light);

    &__open {
      transition: .5s all ease-in-out;
      transform: rotate(180deg);
    }
  }

  .label {
    display: block; /* Ensures visibility */
    font-size: 1rem;
    font-weight: var(--font-weight-normal);
    color: var(--color-gray-dark);
  }
}

.selectError {
  border-color: var(--color-danger) !important;
}

.selectDisabled {
  pointer-events: none; // Disable interactions
  opacity: .6;
}

.selectReadOnly {
  pointer-events: none; // Disable interactions
  opacity: .8;
}
