.select {
  position: relative;
  width: 100%;
  font-family: Arial, sans-serif;

  &Trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 3rem;
    padding: 12px;
    cursor: pointer;
    background-color: var(--color-light);
    border: 1px solid var(--color-primary-lighter);
    border-radius: 4px;

    .placeholder {
      color: var(--color-gray);
    }

    &:hover {
      border-color: var(--color-primary);
    }
  }

  &Tags {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }

  &Tag {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    font-size: 14px;
    background-color: var(--color-primary-lightest);
    border-radius: 4px;
  }

  &TagRemove {
    margin-left: 4px;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      color: var(--color-primary-dark);
    }
  }

  &Dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    background-color: var(--color-light);
    border: 1px solid var(--color-gray);
    border-radius: 4px;
  }

  &Option {
    padding: 8px 12px;
    cursor: pointer;

    &:hover {
      background-color: var(--color-gray-light);
    }

    &Selected {
      background-color: var(--color-gray-light);
    }

    &Disabled {
      cursor: not-allowed;
      opacity: .6;
    }
  }

  &Open {
    .selectTrigger {
      border-color: var(--color-primary);
    }
  }
}
