# dependencies
/node_modules

# build
/dist

# testing
/coverage

# pack
package*
!package.json

# misc
.DS_Store
*.pem

# yarn/npm
yarn-debug.log*
yarn-error.log*
.yarn
.yarnrc
.npm
.npmrc
.cache
.config

# env files
.env*

# typescript
*.tsbuildinfo

# eslint
.eslintcache

# storybook build
/storybook-static/

# VS Code files for those working on multiple tools
.vscode/*
*.code-workspace
