{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-standard-scss",
    "stylelint-config-recess-order",
    "stylelint-config-css-modules"
  ],
  "plugins": ["stylelint-scss"],
  "ignoreFiles": [
    ".*/**/*.js",
    "**/*.tsx",
    "**/*.ts",
    "**/*.js",
    "**/*.md",
    "**/*.svg",
    "**/*.ejs"
  ],
  "rules": {
  "font-family-name-quotes": "always-where-recommended",
  "function-url-quotes": "never",
  "string-quotes": "double",
  "declaration-property-unit-allowed-list": {
    "font-size": ["rem", "px"]
  },
  "at-rule-no-vendor-prefix": true,
  "media-feature-name-no-vendor-prefix": true,
  "selector-no-vendor-prefix": true,
  "value-no-vendor-prefix": true,
  "max-nesting-depth": [
    4,
    { "ignore": ["blockless-at-rules"] }
  ],
  "selector-max-specificity": "0,4,1",
  "at-rule-disallowed-list": ["extend"],
  "property-no-unknown": [
    true,
    { "ignoreProperties" : ["contain", "overscroll-behavior"] }
  ],
  "selector-max-id": 0,
  "selector-max-type": [
    1,
    { "ignore": "descendant" },
    { "ignoreTypes": ["fieldset"] }
  ],
  "selector-max-universal": 0,
  "font-weight-notation": "named-where-possible",
  "function-url-no-scheme-relative": true,
  "comment-word-disallowed-list": [
    ["/^TODO:/", "/^FIXME:/"],
    { "severity": "warning" }
  ],
  "number-leading-zero": "never",
  "no-invalid-position-at-import-rule": null,
  "value-keyword-case": null,
  "scss/selector-no-redundant-nesting-selector": true,
  "scss/at-import-no-partial-leading-underscore": true,
  "at-rule-no-unknown": null,
  "scss/at-rule-no-unknown": true,
  "selector-class-pattern": "^[a-z][a-zA-Z0-9]+$"
  }
}
