@import "scss/typography";

.tag {
  // default vars
  --badge-color: var(--color-light);
  --badge-bg-color: var(--color-primary);
  --badge-bg-color-rgb: var(--color-primary-rgb);
  --badge-border-color: var(--color-primary);
  --badge-border-radius: 3px;

  display: inline-block;
  font-weight: var(--font-weight-normal);
  color: var(--badge-color);
  text-align: center;
  white-space: nowrap;
  background-color: var(--badge-bg-color);
  border: 1.5px solid var(--badge-border-color);
  border-radius: var(--badge-border-radius);

  @include typography(regular);
}

//  sizes
.small {
  padding: .188rem .5rem;
  font-size: .875rem;
  line-height: 1rem;
}

.medium {
  padding: .25rem .75rem;
  font-size: 1rem;
  line-height: 1.25rem;
}

.rounded {
  --badge-border-radius: 20px;
}

// colors
.primary {
  --badge-color: var(--color-light);
  --badge-bg-color: var(--color-primary);
  --badge-bg-color-rgb: var(--color-primary-rgb);
  --badge-border-color: var(--color-primary);
}

.secondary {
  --badge-color: var(--color-light);
  --badge-bg-color: var(--color-purple);
  --badge-bg-color-rgb: var(--color-purple-rgb);
  --badge-border-color: var(--color-purple);
}

.danger {
  --badge-color: var(--color-light);
  --badge-bg-color: var(--color-danger);
  --badge-bg-color-rgb: var(--color-danger-rgb);
  --badge-border-color: var(--color-danger);
}

.success {
  --badge-color: var(--color-light);
  --badge-bg-color: var(--color-success);
  --badge-bg-color-rgb: var(--color-success-rgb);
  --badge-border-color: var(--color-success);
}

.info {
  --badge-color: var(--color-light);
  --badge-bg-color: var(--color-info);
  --badge-bg-color-rgb: var(--color-info-rgb);
  --badge-border-color: var(--color-info);
}

.warning {
  --badge-color: var(--color-light);
  --badge-bg-color: var(--color-accent);
  --badge-bg-color-rgb: var(--color-accent-rgb);
  --badge-border-color: var(--color-accent);
}

.dark {
  --badge-color: var(--color-light);
  --badge-bg-color: var(--color-gray-darkest);
  --badge-bg-color-rgb: var(--color-gray-darkest-rgb);
  --badge-border-color: var(--color-gray-darkest);
}

.gray {
  --badge-color: var(--color-light);
  --badge-bg-color: var(--color-gray);
  --badge-bg-color-rgb: var(--color-gray-rgb);
  --badge-border-color: var(--color-gray);
}

// outline
.outline {
  color: var(--badge-bg-color);
  background-color: transparent;
}

// translucent
.translucent {
  color: var(--badge-bg-color);
  background-color: rgba(var(--badge-bg-color-rgb) / 20%);
  background-clip: padding-box;
  border: 1.5px solid rgba(var(--badge-bg-color-rgb) / 20%);
}
