.otpContainer {
  display: flex;
  gap: 8px;
}

.otpInput {
  width: 68px;
  height: 48px;
  font-size: 24px;
  font-weight: var(--font-weight-bold);
  color: var(--color-primary-darkest);
  text-align: center;
  border: 1px solid var(--color-primary-lighter-2);
  border-radius: 4px;
  outline: none;
  transition: border-color .3s ease;

  &:focus {
    border-color: var(--color-info);
  }
}
