.keypad {
  display: flex;
  flex-direction: column;
  width: max-content;
  height: max-content;
}

.keypadRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
