@import "scss/breakpoints";

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: .4rem; /* Ensures spacing between label & input */
  font-size: var(--p);
  text-align: left;
  transition: all .4s;

  @include media-breakpoint-up(md) {
    gap: .5rem;
  }
}

.label {
  display: block; /* Ensures visibility */
  font-size: 1rem;
  font-weight: var(--font-weight-normal);
  color: var(--color-gray-dark);

  .required {
    margin-left: .25rem;
    color: var(--color-danger);
  }
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.toggleButton {
  position: absolute;
  right: .75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;

  &:focus {
    outline: none;
  }
}

.eyeIcon {
  width: 1.25rem;
  height: 1.25rem;
}

.input {
  width: 100%;
  height: 3rem;
  padding: 0 .75rem;
  font-size: var(--p);
  color: var(--color-primary-darkest);
  border: 1px solid var(--color-primary-lighter);
  border-radius: 5px;
  outline: none;
  transition: border-color .3s ease;

  &.inputError {
    border-color: var(--color-danger);
  }

  &.inputSuccess {
    border-color: var(--color-success);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--color-gray-light);
  }

  &:not(.inputError, .inputSuccess, [disabled]) {
    &:hover {
      border-color: var(--color-purple-lighter-2);
    }

    &:focus,
    &:focus-visible {
      border-color: var(--color-purple);
    }
  }
}

.hint {
  font-size: .8rem;
  color: var(--color-gray-boulder);
}

.error {
  font-size: .8rem;
  color: var(--color-danger);
}
